/* ===== Font Google ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #0a4566;
  --primary-color: #695cfe;
  --secondary-color: #ea5510;
  --tinary-color: #0c6090;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-primary-color: #ffffff;
  --text-secondary-color: #7d7d7d;

  /* ===== transition ===== */
  --trant-2: all 0.2s ease;
  --trant-3: all 0.3s ease;
  --trant-4: all 0.4s ease;
  --trant-5: all 0.5s ease;
}

body{
  height: 100vh;
  background: var(--body-color);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--trant-3);
  z-index: 5;
}

.sidebar.side-min{
  width: 88px;
}
.sidebar.side-min .nav-text,
.sidebar.side-min .header-text{
  opacity: 0;
}

.sidebar.side-min .image{
  min-width: 60px;
  margin-left: 10px;
}

.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary-color);
  transition: var(--trant-3);
  white-space: nowrap;
  opacity: 1;
}

.sidebar .image{
  min-width: 45px;
}


.sidebar header{
  position: relative;

}

.sidebar .image-text img{
  width: 40px;
  border-radius: 6px;
  transition: var(--trant-2);
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
  justify-items: center;
}

.sidebar header .header-text{
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.header-text .name{
  font-weight: 700;
}
.header-text .as{
  font-size: 12px;
  font-weight: 300;
  margin-top: -2px;
}

.sidebar ul{
  padding-left: 0;
  margin-top: 30px;
}

.sidebar li{
  /* border: 1px solid #fff; */
  margin-top: 10px;
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  transition: var(--trant-3);
  border-radius: 5px;
}

.sidebar li:hover{
  background: var(--tinary-color);
}

.sidebar li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
}
.sidebar li a .side-icon,
.sidebar li a .text{
  min-width: 60px;
  display: flex;
  justify-content: center;
  color: var(--text-primary-color);
}

/* ==== content ===== */
.topMenu{
  position: fixed;
  top: 0;
  left: 250px;
  height: 65px;
  width: calc(100% - 250px);
  background-color: var(--text-primary-color);
  transition: var(--trant-3);
  padding: 10px 14px;
  /* border: 1px solid #000; */
  z-index: 10;
}
.sidebar.side-min ~ .topMenu{
  left: 88px;
  width: calc(100% - 88px);
}

.topMenu .topMenu-content .icon{
  font-size: 25px;
  cursor: pointer;
  /* border: 1px solid #000; */
}

.topMenu .topMenu-content .active{
color: var(--secondary-color);
  /* border: 1px solid #000; */
}
.topMenu .topMenu-content .title{
  margin-top: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  /* border: 1px solid #000; */
}

.topMenu .topMenu-content .multimedia-icon{
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  /* border: 1px solid #000; */
}

.topMenu .topMenu-content .hide-btn{
  display: none;
}

.topMenu .topMenu-content-hp img{
display: none;
}

.topMenu .topMenu-content-hp .title-hp{
display: none;
}

.topMenu .topMenu-content-hp .icon-hp{
display: none;
}

.content{
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  padding: 75px 15px 10px 15px;
  transition: var(--trant-3);
  /* border: 1px solid #000; */
}

.content .header-content{
  width: 100%;
  /* border: 1px solid #000; */
}

.content .tgl .input-group{
  margin-left: 30px;
  width: 210px;
}

.content .panel-K .panel-icon{
  font-size: 45px;
  color: #dddddd;
}

.content .panel-K .K-val-now{
  margin-top: 2px;
  font-size: 2.8rem;
}
.content .panel-K .K-val-now sub{
  font-size: 1rem;
  margin-left: -10px;
}
.content .panel-K .K-desc-now{
  font-size: 1rem;
  font-weight: 300;
  margin-top: -10px;
}

.content .panel-PH .panel-icon{
  font-size: 45px;
  color: #dddddd;
}

.content .panel-PH .PH-val-now{
  margin-top: 2px;
  font-size: 2.8rem;
}
.content .panel-PH .PH-val-now sub{
  font-size: 1rem;
  margin-left: -10px;
}
.content .panel-PH .PH-desc-now{
  font-size: 1rem;
  font-weight: 300;
  margin-top: -10px;
}

.sidebar.side-min ~ .content{
  left: 88px;
  width: calc(100% - 88px);
}


footer{
  position: fixed;
  bottom: 0;
  left: 250px;
  height: 65px;
  width: calc(100% - 250px);
  background-color: var(--text-primary-color);
  transition: var(--trant-3);
  padding: 10px 14px;
}
.sidebar.side-min ~ footer{
  left: 88px;
  width: calc(100% - 88px);
}

.footer-content{
  /* border: 1px solid #000; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  line-height: 5px;
  margin-top: 8px;
}

.footer-content .left-content p,
.footer-content .right-content p{
  font-size: 16px;
  color: var(--text-secondary-color);
  font-weight: 500;
}

.footer-content .left-content a{
  text-decoration: none;
  color: #c30505;
}

.footer-content .right-content a{
  text-decoration: none;
  color: var(--sidebar-color);
}

/* ===== Modal Popup ===== */
.modal .modal-dialog .modal-content .modal-header{
  background: var(--sidebar-color);
  color: var(--text-primary-color);
}
.modal .modal-dialog .modal-content .modal-header button{
  color: var(--text-primary-color) !important;
}

.modal .modal-dialog .modal-content .modal-body p{
  font-size: 12px;
  color: var(--text-secondary-color);
}
.modal .modal-dialog .modal-content .modal-body .modal-icon{
  font-size: 2.8rem;
  color: var(--text-secondary-color);
}









































/* ============ MOBIL VERSION ============= */
/* ====== HP Potrait ===== */
@media (max-width: 575.98px) {
.sidebar{
  display: none;
}

.topMenu .topMenu-content .icon{
display: none;
}

.topMenu{
  position: fixed;
  left: 0px;
  height: 65px;
  width: 100%;
}

.topMenu .topMenu-content .title{
  display: none;
}

.topMenu .topMenu-content .multimedia-icon{
display: none;
}

.topMenu .topMenu-content-hp img{
  display: inline;
  height: 25px;
  margin-top: 5px;
  /* border: 1px solid #000; */
}

.topMenu .topMenu-content-hp .title-hp{
  display: block;
  text-align: left !important;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  /* border: 1px solid #000; */
}

.topMenu .topMenu-content-hp .icon-hp{
  display: inline;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 10px;
  /* border: 1px solid #000; */
}
.content{
  width: 100%;
  box-sizing: border-box;
}

.content .header-content{
  margin-left: -250px;
  width: 100%;
  border: 1px solid #000;
}

.content .tgl .input-group{
  margin-left: 0;
  width: 100%;
}

.content .content-panel{
  width: 100%;
  border: 1px solid #000;
}

.content .panel-K .panel-icon{
  font-size: 25px;
  color: #dddddd;
}

.content .panel-K .K-val-now{
  margin-top: 2px;
  font-size: 1rem;
}
.content .panel-K .K-val-now sub{
  font-size: 0.3rem;
  margin-left: -10px;
}
.content .panel-K .K-desc-now{
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: -10px;
}

.content .panel-PH .panel-icon{
  font-size: 25px;
  color: #dddddd;
}

.content .panel-PH .PH-val-now{
  margin-top: 2px;
  font-size: 1rem;
}
.content .panel-PH .PH-val-now sub{
  font-size: 0.3rem;
  margin-left: -10px;
}
.content .panel-PH .PH-desc-now{
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: -10px;
}

.offcanvas-body .off-icon{
  font-size: 20px;
  margin-right: 10px;
}













/* ===== Footer ===== */
footer{
  left: 0;
  width: 100%;
  padding: 10px;
}

.footer-content{
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  /* border: 1px solid #000; */
  margin-top: 0;
}

.footer-content .left-content p{
  font-size: 10px;
  /* border: 1px solid #000; */
  text-align: center;
  /* margin-top: -5px; */
}
.footer-content .right-content p{
  font-size: 10px;
  /* border: 1px solid #000; */
  text-align: center;
  margin-top: 10px;
}


/* ===== Modal Style ==== */
.modal .modal-dialog .modal-content .modal-header .modal-title{
  font-size: 16px;
}

.modal .modal-dialog .modal-content .modal-body .modal-body-title{
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body p{
  font-size: 10px;
  color: var(--text-secondary-color);
}
.modal .modal-dialog .modal-content .modal-body .modal-icon{
  font-size: 2.1rem;
  margin-left: -30px;
}


}

/* ===== HP Landscape ===== */
@media (max-width: 767.98px) {
.sidebar{
  display: none;
}

.topMenu .topMenu-content .icon{
display: none;
}

.topMenu{
  position: fixed;
  left: 0px;
  height: 65px;
  width: 100%;
}

.topMenu .topMenu-content .title{
  display: none;
}

.topMenu .topMenu-content .multimedia-icon{
display: none;
}


.topMenu .topMenu-content-hp .title-hp{
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  /* border: 1px solid #000; */
  margin-left: -10px;
}

.topMenu .topMenu-content-hp .icon-hp{
  display: inline;
  font-size: 25px;
  /* border: 1px solid #000; */
}













/* ===== Footer ===== */
footer{
  left: 0;
  width: 100%;
  padding: 10px;
}

.footer-content{
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  /* border: 1px solid #000; */
  margin-top: 0;
}

.footer-content .left-content p{
  font-size: 10px;
  /* border: 1px solid #000; */
  text-align: center;
  margin-top: -7px;
}
.footer-content .right-content p{
  font-size: 10px;
  /* border: 1px solid #000; */
  text-align: center;
  margin-top: 2px;
}

}




























/* ===== Tablet ===== */

@media (max-width: 991.98px) {

}