/* ===== Font Google ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #0a4566;
  --primary-color: #695cfe;
  --secondary-color: #ea5510;
  --tinary-color: #0c6090;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-primary-color: #ffffff;
  --text-secondary-color: #7d7d7d;

  /* ===== transition ===== */
  --trant-2: all 0.2s ease;
  --trant-3: all 0.3s ease;
  --trant-4: all 0.4s ease;
  --trant-5: all 0.5s ease;
}

body{
  height: 100vh;
  background: var(--body-color);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--trant-3);
  z-index: 5;
}

.sidebar.side-min{
  width: 88px;
}
.sidebar.side-min .nav-text,
.sidebar.side-min .header-text{
  opacity: 0;
}

.sidebar.side-min .image{
  min-width: 60px;
  margin-left: 10px;
}

.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary-color);
  transition: var(--trant-3);
  white-space: nowrap;
  opacity: 1;
}

.sidebar .image{
  min-width: 45px;
}


.sidebar header{
  position: relative;

}

.sidebar .image-text img{
  width: 40px;
  border-radius: 6px;
  transition: var(--trant-2);
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
  justify-items: center;
}

.sidebar header .header-text{
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.header-text .name{
  font-weight: 700;
}
.header-text .as{
  font-size: 12px;
  font-weight: 300;
  margin-top: -2px;
}

.sidebar header .toggle{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: var(--secondary-color);
  color: var(--text-primary-color);
  font-size: 14px;
  border-radius: 50%;
}

.sidebar ul{
  padding-left: 0;
  margin-top: 30px;
}

.sidebar li{
  /* border: 1px solid #fff; */
  margin-top: 10px;
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  transition: var(--trant-3);
  border-radius: 5px;
}

.sidebar li:hover{
  background: var(--tinary-color);
}

.sidebar li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
}
.sidebar li a .side-icon,
.sidebar li a .text{
  min-width: 60px;
  display: flex;
  justify-content: center;
  color: var(--text-primary-color);
}

.home{
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  transition: var(--trant-3);
}

.sidebar.side-min ~ .home{
  left: 88px;
  width: calc(100% - 88px);
}